{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <ul class="menu">
        <li><a href="{{ url_for('home') }}">HOME</a></li>
        <li><a href="{{ url_for('create') }}">CREATE</a></li>
        <li><a href="{{ url_for('read') }}">READ</a></li>
        <li><a href="{{ url_for('update') }}">UPDATE</a></li>
        <li><a href="{{ url_for('delete') }}">DELETE</a></li>
    </ul>
    <form method="POST" action="{{ url_for('delete') }}">
    {{ form.csrf_token }} {{ form.todo_input.label }}
    {{ form.todo_input() }} {{
    form.submit() }}
    </form>
{% endblock %}
{% block search_result %}
<h1>Delete</h1>
{% endblock %}