{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% set active_page = 'read' %}
{% block content %}
    <form method="POST" action="{{ url_for('read') }}">
    {{ form.csrf_token }} {{ form.todo_input.label }}
    {{ form.todo_input() }} {{
    form.submit() }}
    </form>
    <table>
        <tr>
            <th>TODO Name</th>
            <th>TODO ID</th>
        </tr>
        {% if cursor %}
            {% for item in cursor %}
                <tr>
                    <td>{{ item.todo_name }}</td>
                    <td>{{ item._id }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}
