body {
    margin: 0;
}

html {
    padding: 20px;
    font-family: 'Space Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, #457fca, #5691c8);
}

h1 {
    font-weight: 700;
    text-align: center;
}

input[type=submit] {
    font-family: 'Space Mono', monospace;
}


form {
    /* position: relative; */
    background: #006eff;
    width: 250px;
    height: 50px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;
    padding: 20px;
    margin: 0 auto;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #073f88;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover:not(.active) {
  background-color: #111;
}


